---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Articles">
  <!--...::: 404 Section Start :::... -->
  <section class="section-404">
    <!-- Section Space -->
    <div class="section-space">
      <!-- Section Container -->
      <div class="container-default">
        <div class=""></div>
        <div
          class="mt-10 flex flex-col items-center justify-center text-center lg:mt-[60px] xl:mt-[90px]"
        >
          <img
            src="img/404-img.svg"
            alt="404-img"
            width="532"
            height="550"
            class="mb-[30px]"
          />
          <h2 class="mb-[15px]">Page not found</h2>
          <p class="mb-10 max-w-[374px] text-ColorBlack/80">
            The requested URL you are looking for doesn’t exist on this server.
          </p>
          <a
            href="/"
            class="btn is-black is-rounded btn-animation is-large group"
            ><span>Back To Homepage</span></a
          >
        </div>
      </div>
      <!-- Section Container -->
    </div>
    <!-- Section Space -->
  </section>
  <!--...::: 404 Section End :::... -->
</Layout>
