---
import "../styles/global.css";

import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import SectionLeft from "../components/SectionLeft.astro";
---

<Layout title="Welcome to Astro.">
  <main class="main-wrapper relative overflow-hidden">
    <Hero />
    <Features />
    <SectionLeft id="contact-us" />
  </main>
</Layout>

<style></style>
